main {
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/Help_bg.jpg);
	background-size: cover;
}

.contact {
	height: auto;
	background-color: (0, 0, 0, 0.5);
	/* border: 2px solid red; */
	border-radius: 1em;
	display: flex;
	flex-direction: column;
}

.faq {
	padding: 20px;
	border-radius: 10px;
	padding-left: 40px;
	padding-top: 28px;
	border: 1px solid #42434a;
	/* margin-bottom: 20px; */
}
.faq li {
	margin-top: 15px;
	line-height: 26px;
	
}

.form-container {
	width: 97%;
	display: flex;
	flex-direction: column;
	justify-content:left;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	border: 1px solid var(--line-clr);
	border-radius: 10px;
}
.form-container h4 {
	color: #c2cccc;
	margin-bottom: 10px;
	margin-left: 20px;
}

.button {
	max-width: 100px;
	background-color:var(--accent-clr);
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: 20px;
}

#contact-form{
	display: none;
}

.form {
	width: 100%;
	height: 90%;
	/* Place Form on the right */
	/* background-color: (0, 0, 0, 0.5); */
	/* Just for visibility */
	padding: 20px;
	border-radius: 10px;
	/* background-color: red; */
}

.form iframe {
	width: 100%;
	height: 100%;
	/* background-color: rgb(37, 37, 38, 0.7); */
	border-radius: 10px;
	min-height: 500px;
	/* Set a reasonable min-height */
	border: none;
	flex-grow: 1;
	/* Allows the iframe to expand */
}

.map-container {
	border: 1px solid var(--line-clr);
	border-radius: 10px;
	padding: 30px;
	margin-top: 20px;
	line-height: 30px;

}

#map iframe {
	width: 100%;
}